@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display:table;
    width:100%;
  }
}

@mixin fullbleed($columns: 1, $context: 10) {
    @include bleed-y(rhythm());
    @include bleed-x(span($columns of $context wide));
}

@mixin fullbackground($image: 'images/background.jpg') {
    @include background-size(cover);
    background-repeat: no-repeat;
    background-position:50% 0;
    @include background-image(
        linear-gradient(left, rgba(white, 0.8), rgba(white, 0.8)),
        url($image)
    );

    color: #333;
    color: rgba(black, 0.8);

    a {
        color: #333;
        color: rgba(black, 0.8);
    }

}

