html {
    padding-left: 60px;
    padding-bottom:60px;
}

body {
    border: 1px dotted rgba(0,0,0,0.25);
    border-width: 0 1px;
    background-color: rgba(255,255,255,0.25);

}

header[role="banner"] {
    display:block;
    width: 260px;
    padding: 0;
    float:left;
    text-align:left;
    border:none;
}

header[role="banner"] h1 {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    width: auto;
}

header[role="banner"] img {
    max-width: 100%;
}

header[role="banner"] .menu ul {
    margin: 60px 30px 30px;
}

header[role="banner"] .menu li {
    display:block;
}
header[role="banner"] .menu li + li {
    border-top: 1px dotted #ddd;
}

header[role="banner"] .menu a {
    text-decoration:none;
    display:block;
    padding: 10px;
    -webkit-transition: background 0.2s linear, color 0.2s linear;
    -moz-transition: background 0.2s linear,color 0.2s linear;
    -o-transition: background 0.2s linear, color 0.2s linear;
    transition: background 0.2s linear, color 0.2s linear;
}

header[role="banner"] .menu li.current-menu-item a,
header[role="banner"] .menu li.current-page-ancestor a {
    color: #333;
    font-weight:bold;
}

header[role="banner"] .menu a:hover {
    color: #333;
    background:rgba(255,255,255,0.75);
}

header[role="banner"] .menu li.current-menu-item a:after,
header[role="banner"] .menu li.current-page-ancestor a:after {
    content: "➸";
    float:right;
    text-align:right;
    font-size: 150%;
    line-height:1;
    color: rgba(0,0,0,0.15);
}

#search {
  position:absolute;
  top: 10px;
  right: 20px;
}

.admin-bar #search {
  top: 45px;
}

#rotunda {
    display:block;
    line-height:0;
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    border-bottom: 1px dotted rgba(0,0,0,0.25);
}

/* Bump down the absolutely-positioned rotunda mark if the admin bar is present.*/
.admin-bar #rotunda {
    top: 28px;
}
#rotunda img {
    padding:10px;
}

#uvalib-logo {
    display:block;
    margin: 0 30px;
    line-height: 70px;
}

#uvalib-logo img {
    margin:0;
}

#uvalib-header img {
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

#uvalib-header a:link img,
#uvalib-header a:visited img {
    opacity:0.5;
}

#uvalib-header a:hover img,
#uvalib-header a:active img {
    opacity:1 !important;
}

div[role="main"] {
    margin-left:260px;
    padding: 90px 30px 2em;
    border: 1px dotted rgba(0,0,0,0.35);
    border-width: 0 0 0 1px;
}

#homepage-blurb {
  margin: -30px -30px 30px;

  .menu {
    li {
      display:block;
    }
  }
}

article footer {
    float:none;
    width: auto;
}

article .entry-content {
    float:none;
    width: auto;
}

.authors li {
    overflow:hidden;
}

.authors li:not(:first-child) {
    border-top: 1px dotted rgba(0,0,0,0.25);
}

.authors .avatar {
    float:left;
    margin-bottom: 2em;
}

.authors .author-meta {
    margin-left: 155px;
}

.author-links span:not(:first-child):before {
    content: "·";
    padding: 0 0.25em;
    color:rgba(0,0,0,0.5);
}

.column {
  float:left;
  width: 28%;
  margin-right: 5%;
}

.staff > li {
  float:none;
  width: auto;
  height:auto;
  margin:0 0 1em;
}

footer[role="contentinfo"] {
    clear:both;
    margin:0 0 0 -60px;
    padding: 30px 30px 30px 90px;
    border: 1px dotted rgba(0,0,0,0.35);
    border-width: 1px 0;
    background: rgba(255,255,255,0.2);
    overflow:hidden;
    text-align:left;
}

#slab-vcard {
    float:left;
}

footer[role="contentinfo"] .menu {
    float:right;
    text-align:right;
}

#social-media {
  float:right;
  text-align:right;
  clear:right;
}

#social-media a {
  display:block;
  float:left;
  width: 40px;
}

#social-media a:not(:last-child) {
  margin-right: 0.25em;
}

