$grid: hide;

@media screen {

@include establish-baseline;

html {
    background: rgba(black, 0.1);
    margin:0;
    padding:0;
}

body {
    @include container($grid);
    margin:0;
    padding:0;
    font-family: $default-font;
    color: $default-color;
    color: rgba($default-color, 0.9);
}

img {
    max-width:100%;
    max-height:100%;
    height:auto;
}

a {
    @include link-colors(
        $link-color,
        $link-hover-color,
        $link-active-color,
        $link-visited-color,
        $link-focus-color
    );

    @include link-colors(
        rgba($link-color, 0.8),
        rgba($link-hover-color, 0.8),
        rgba($link-active-color, 0.8),
        rgba($link-visited-color, 0.8),
        rgba($link-focus-color, 0.8)
    );

    @include transition(
        color $default-transition-duration,
        background-color $default-transition-duration
    );

    &:before {
        @include single-transition(color);
    }

    img {
        @include single-transition(opacity);
    }
}

#{headings()} {
    margin:0;
    a {
        text-decoration:none;
    }
}

h1 {
    font-weight: 200;
    @include adjust-font-size-to(40px);
    @include adjust-leading-to(2,40px);
    margin:0;
    @include trailer(1, 40px);

    .archive article &,
    .blog article & {
        @include adjust-font-size-to(40px);
        @include adjust-leading-to(2,40px);
        @include trailer(1, 40px);    
    }

    @include susy-breakpoint(600px, 8) {
        @include adjust-font-size-to(60px);
        @include adjust-leading-to(2,60px);
        @include trailer(1, 60px);
    }

}

h2 {
    @include adjust-font-size-to(30px);
    @include adjust-leading-to(1, 30px);
    @include leader(2, 30px);
    @include trailer(1, 30px);
    font-weight:600;

    h1 + &,
    h1 ~ * &:first-child {
        @include leader(1, 30px);
    }

}

h3 {
    @include adjust-font-size-to(25px);
    @include adjust-leading-to(2, 25px);
    color: $default-color-light;
    font-weight:200;
    @include leader(2, 25px);

    h2 + & {
        @include leader(1, 25px);
    }
}

h4 {
    @include adjust-font-size-to($base-font-size);
    @include leader(2);
    h3 + & {
        @include leader(1);
    }
}

h5 {
    @include adjust-font-size-to($base-font-size);
    color: $default-color-lighter;
    @include leader(2);
    h4 + & {
        @include leader(1);
    }
}

h6 {
    @include adjust-font-size-to($base-font-size);
    color: $default-color-light;
    @include leader(2);
    h5 + & {
        @include leader(1);
    }
}

#{headings(2,6)} {
    + * {
        margin-top:0 !important;
    }
}

p {
    margin: rhythm(1) 0;
}

blockquote {
    @include adjust-font-size-to(20px);
    @include adjust-leading-to(1,20px);
    font-weight: 200;
}

ul {
  list-style:disc;
}

ol {
  list-style:decimal;
}

ul,ol {
  padding:0;
  margin: rhythm(1) 0;

  nav & {
    margin-left:0;
  }

  ul {
    list-style: circle;
  }

  ol {
    list-style: upper-alpha;
  }

  ul, ol {
    margin: 0 0 0 rhythm(1);

    ul {
      list-style:square;
    }

    ol {
      list-style:lower-alpha;
    }
  }
}

::-moz-list-bullet,
::-moz-list-number {
    color: $default-color-lighter;
}

dl {
    margin: rhythm(1) 0;
}

dt {
    font-weight:600;
}

dd {
    margin-left: gutter();
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

th,
td {
  padding: rhythm(1) rhythm(0.5) 0;
  @include trailing-border(1px);
  border-color: rgba($default-color,.2);
}

th {
  @include trailing-border(3px);
  text-align:left;
}

code {
  font-family: $code-font;
  @include adjust-font-size-to(16px);
  color: $code-color;
}

pre {
    font-family: $code-font;
    @include adjust-font-size-to(16px);
    color: $code-color;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

del {
  color: $default-color-lighter;
}

ins {
  text-decoration:none;
  background: $ins-color;
}

abbr,
acronym {
    border-bottom: 1px dotted $default-color-lighter;
}

address {
  font-style:normal;
  margin: rhythm(1) 0;
}

br {
  margin:0;
  line-height:0;
}

hr {
  border:none;
  text-align:center;
  &:before {
    display:block;
    content: " · · · · · ";
    color: rgba($default-color-light, 0.5);
  }
}

textarea {
    width: 100%;
}

strong,
b {
    font-weight: 600;
}

em,
i {
    font-style:italic;
}

/* Utility classes */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.skip {
    @extend .visuallyhidden;
}

#slab-vcard {
    @include adjust-font-size-to(16px);
    @include adjust-leading-to(0.75,16px);
}

.author_image {
    display:block;
    width: rhythm(2);
    height: rhythm(2);

    img {
        @include border-radius(rhythm(1));
        vertical-align:middle;
    }

}

.alignnone {
    margin: rhythm() 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: rhythm() auto;
}

.alignright {
    float: right;
    margin: rhythm() 0 rhythm() gutter();
}

.alignleft {
    float: left;
    margin: rhythm() gutter() rhythm() 0;
}

.aligncenter {
    display: block;
    margin: rhythm() auto;
}

a {
    img {
        &.alignright {
            float: right;
            margin: rhythm() 0 rhythm() gutter();
        }
        
        &.alignnone {
            margin: rhythm() auto;
        }

        &.alignleft {
            float: left;
            margin: rhythm() gutter() rhythm() 0;
        }

        &.aligncenter {
            display: block;
            margin-left: auto;
            margin-right: auto
        }
    }
}


.wp-caption {
    max-width: 100%; /* Image does not overflow the content area */

    img {
        margin-bottom:0 !important;
    }

    p {
        @include adjust-font-size-to(15px);
        color: $default-color-light;
        @include adjust-leading-to(1, 15px);
        margin-top:0;
    }
}

[role=banner],
[role=main],
[role=contentinfo] {
    padding-top: rhythm(1);
    padding-bottom: rhythm(1);
    @include pad(1);
}

[role=banner] {
    padding: rhythm(.5) gutter();
    background-color: #fafafa;
    background-color: rgba(white, 0.75);
}

#homelink {
    display:block;
    height: rhythm();
    border:none;
    outline:none;
    opacity: 0.5;
    img {
        vertical-align:middle;
    }

}

nav,
.menu {
    display:block;
    
    ul {
        list-style:none;
        padding:0;
        margin:0;
        text-transform:uppercase;
        letter-spacing: 1px;
        word-spacing: 1em;
        @include adjust-font-size-to(14px);
        @include adjust-leading-to(1,14px);
    }

    li {
        display:inline;
        word-spacing: auto;
        ul {
            display:none;
        }
    }

    a {
        text-decoration:none;
    }
}

[role=main] {
    background-color: #f4f4f4;
    background-color: rgba(white, 0.5);

    .singular & {
        header {
            @include fullbackground;
        }
    }

    /*.single-people & {*/
        /*header {*/
            /*padding-top: rhythm(8) !important;*/
        /*}*/
    /*}*/

    #homepage-blurb {
        @include fullbackground;
    }

}

.people-list {
    list-style:none;
    margin-left:0;
    @include bleed-x(span(1 of 10 wide));
    padding:0;

    @include susy-breakpoint('600px', 12) {
        @include bleed-x(span(2 of 8 wide));
        padding:0;
    }

    @include susy-breakpoint('940px', 16) {
        @include bleed-x(span(3 of 10 wide));
        padding:0;
    }

    li {
        min-height: rhythm(5);
        background:rgba(black, 0.2);

        @include gallery(4);        
        &:nth-child(3n) {
            @include gallery(last 4);
        }

        @include susy-breakpoint('940px', 16) {
        
        @include gallery(4);
        
        &:nth-child(3n) {
            @include gallery(4);
        }

        &:nth-child(4n) {
            @include gallery(last 4);
        }

        }
    }
    
}

.pagination {
    text-align:justify;
    @include clearfix;

    li {
        display:inline-block;
        float:left;

        & + li {
            float:right;
        }

    }

    a {
        border: 2px solid #ccc;
        border-color: rgba(black, 0.1);
        padding-left: rhythm(0.5);
        padding-right: rhythm(0.5);
        display:block;
    }
}

article + article:before {
    display:block;
    content: " ";
    height:rhythm(2);
    width: 100px;
    border-top: 2px solid #ccc;
    border-top-color: rgba(black, 0.1);
    margin: rhythm(2) auto 0;
}

.gce-list {
    list-style:none;
    li {
        margin: 0;
        padding: rhythm(1) 0;

        & + li {
            border-top: 1px dotted #ccc;
        }

        p.date {
            margin:0;
            font-weight:200;
        }

        h2 {
            margin:0;
        }

        strong {
            display:block;
            @include trailer(2);
            font-weight:200;
            color: #666;
        }
    }

}

.post-meta {
    @include adjust-font-size-to(15px);
    @include adjust-leading-to(1, 15px);
    margin-bottom:0;
}

.commentlist {
    list-style:none;
    padding-left:0;
    margin-left:0;

    > li {
        margin-bottom: rhythm(1, 20px);
    }

    .comment-content {
        :first-child {
            margin-top:0;
        }
    }

    .comment-meta {
        list-style:none;
        padding-left:0;
        margin:0;
        word-spacing:0;

        a {
            text-decoration:none;
        }

        li {
            display:inline-block;

            &.image {
                display:block;
                float:left;
                margin-left: -35px;
            }

            .author_image {
                width: 30px;
                height: 30px;
            }

            &.fn {
                font-weight: 600;
            }

            &.comment-date:before,
            &.comment-date:after {
                content: " · ";
                color: $default-color-lighter;
            }
        }

    }

    li ul {
        padding-left: rhythm(1);
        list-style:none;
    }
}

[role=contentinfo] {
    clear:both;
}

// Media query for 640px. Sets layout to 12 columns.
@include susy-breakpoint('600px', 12) {


body {
    @include container($grid);
}

[role=banner],
[role=contentinfo] {
    padding: rhythm(1);
}

[role=banner] {
    @include clearfix;

    #homelink {
        @include span(2 of 10);
    }

    nav {
        @include span(last 8 of 10);
        text-align:right;
    }
}

[role=main] {
    @include pad(2);
    
    .singular & {
        header {
            @include fullbackground(2,8);
        }
    }

    #homepage-blurb {
            @include fullbackground(2,8);
    }

    blockquote {
        @include bleed(1);
        padding-left:0;
        padding-right:0;
    }

    .commentlist blockquote {
        margin:0 0 0 rhythm(1) !important;
        padding: 0 !important;
    }

}


}


// Media query for 940px. Sets layout to 16 columns.
@include susy-breakpoint('940px', 16) {

body {
    @include container($grid);
}

a#homelink {
    display:inline;
}

[role=banner],
[role=contentinfo] {
    @include pad(1);
}

[role=main] {

    @include pad(3);

    blockquote {
        @include bleed(2);
        padding-left:0;
        padding-right:0;
    }

    .singular & {
        header {
            @include fullbackground(3,10);

        }
    }

    #homepage-blurb {
            @include fullbackground(3,10);

    }

}

}

@include susy-breakpoint('1200px', 20) {

body {
    @include container($grid);
}

[role=banner],
[role=contentinfo] {
    @include pad(1);
}

[role=main] {
    @include pad(5);

    .singular & {
        header {
            @include fullbackground(5,10);
        }
    }

    #homepage-blurb {
            @include fullbackground(5,10);
    }

}

}

}
