
#homepage-blurb {
  .menu {
    text-align:center;

    li {
      display:inline-block;
    }

    a {
      padding: 0 1em;
    }
  }
}

#events,
#recent-posts {
width: 48%;
float:left;
}

#recent-posts {
float:right;
}

#blog-archives {
  margin: 20px -20px -20px;
  padding: 20px;
  border-top: 1px dotted #ccc;
  @include clearfix;

  & > div {
    font-size: 90%;
    @include span-columns (3, 6);

    &:last-child {
      @include span-columns (3 omega, 6);
    }
  }

  ul {
    list-style:none;
    padding-left:0;
  }
  li a {
    border-bottom: 1px dotted #ccc;
    text-decoration:none;
    padding: 8px 0;
    display:block;
  }
}

article footer {
    float:right;
    width: 25%;
    margin-top: 1em;
}

article .entry-content {
    float:left;
    width: 70%;
}

body.author .author-meta {
  float:right;
  width: 150px;
  margin-left: 2em;
  margin-bottom:2em;
} 

body.author .entry-content {
  margin-right: 180px;
}

.people > li {
  width: 32%;
  height:120px;
  margin-bottom: 30px;
  margin-right: 1%;

  &:nth-child(3n) {
    margin-right:0;
  }

  img {
    display:block;
    margin:0 0 10px;
    max-height: 80%;
  }
}

.single-people {

  .avatar {
    width: 100px;
    height: 100px;
  }
}
/* Class for department columns on staff listing. */
.staff {
    justify-content: space-between;

  > li {
      display:inline-block;
      width: 22%;
      text-align:center;
      vertical-align:top;
      margin: 0 0 2em; 
    img {
      float:none;
      margin: 0 auto 0.5em;
    }
  }
}


ul.research {

  li {
    float:left;
    width: 48%;
    clear:left;
    &:nth-child(even) {
      float:right;
      clear:right;
    }
  }
}
