
#homepage-blurb {
  .menu {
    text-align:center;

    li {
      display:inline-block;
    }

    a {
      padding: 0 1em;
    }
  }
}

#events,
#recent-posts {
width: 48%;
float:left;
}

#recent-posts {
float:right;
}

article:after {
  content: "";
  clear:right;
  height: 0;
  overflow:hidden;
  visibility:hidden;
  float:none;
  display:block;
}
article footer {
    float:right;
    width: 25%;
    margin-top: 1em;
}

.single article .entry-content {
    float:left;
    width: 70%;
}

body.author .author-meta {
  float:right;
  width: 150px;
  margin-left: 2em;
  margin-bottom:2em;
} 

body.author .entry-content {
  margin-right: 180px;
}

.people > li {
  width: 32%;
  height:120px;
  margin-bottom: 30px;
  margin-right: 1%;

  &:nth-child(3n) {
    margin-right:0;
  }

  img {
    display:block;
    margin:0 0 10px;
    max-height: 80%;
  }
}

.single-people {

  .avatar {
    width: 100px;
    height: 100px;
  }
}
/* Class for department columns on staff listing. */
.department {
  float:left;
  width: 28%;
  margin-right: 5%;
}

.staff {
  > li {
    img {
      float:none;
      width: auto;
      height: auto;
      margin: 0 0 0.5em;
    }
  }
}


.research li {
  float:left;
  width: 48%;
}

.research li:nth-child(even) {
  float:right;
}
