* {
  word-wrap: break-word;
}

html {
    background: url('images/stain2.png') top left no-repeat, url('images/subtle_freckles.png') top left;
}

body {
    font: 87.5%/1.5 Georgia, serif;
    color: #333;
    margin:0;
    padding:0;
}

/* Headings 1-6 */
#{headings(1,6)} {
  font-weight:normal;

  a {
    text-decoration:none;
  }
}

h1 {
    font-size:200%;
    line-height: 1;
}

h3 {
  margin: rhythm(1) 0 rhythm(0.5);
  font-weight:bold;
  color: $default-color-light;
  line-height:1em;

  & + * {
    margin-top:0;
  }
}

a {
  &:link,
  &:visited {
    color: #900;
  }

  &:hover,
  &:active,
  &:focus {
    color: #700;
  }
}

*:focus {
    outline:none;
}

blockquote {
    color: #777;
}

img {
  max-width: 100% !important;
  width: auto;
  height: auto;
}

input {
  vertical-align:middle;
  &[type="submit"] {
    border:none;
    background:none;
    border: 1px solid #ccc;
  }
}

textarea {
  max-width: 100%;
}

table {
  width: 100%;
  margin:1em 0;

  th {
    text-align:left;
    color: #999;
    font-weight:normal;
    border-bottom: 1px solid #ccc;
    font-style:italic;
    padding: 0 0.5em;
  }

  td {
    border-bottom: 1px dotted #ccc;
    padding: 1em 0.5em;
  }
}

.menu {
  ul {
    list-style:none;
    margin:0;
    padding:0;
  }

  li {
    display:inline;
  }
}

.deck {
  font-style:italic;
  color: #555;
  font-size:90%;

  & + * {
    margin-top:0 !important;
  }
}

.alignright {
    float:right;
    margin-left: 1em;
}

img.avatar {
    border: 1px dotted rgba(0,0,0,0.25);
    padding: 2px;
}

.vcard abbr {
  border:none;
  text-decoration:none;
  font-style:normal;
}

/* Removes list formatting for Google Calendar Events plugin lists. */
.gce-list {
  list-style:none;
  padding-left:0;
}

header[role="banner"] {
  border-bottom: 1px dotted rgba(0,0,0,0.25);
  padding: 0 10px 2em;
  margin-bottom: 20px;
  text-align:center;

  a {
    text-decoration:none;
    border:none;
        @include transition (background 0.3s linear, color 0.3s linear);
  }

  h1 {
    width: 60%;
    margin-left:auto;
    margin-right:auto;
  }

  nav {
    li + li:before {
      content: "· ";
      color: #999;
    }
  }
}

#uvalib-header {
  display:none;
}

#search {
    font-size: 87%;
}

#search label {
    display:none;
}

#search input[type="search"] {
    width: 132px;
    padding:4px 60px 4px 5px;
    border: 1px dotted rgba(0,0,0,0.25);
    border-width: 1px;
}

#search input[type="submit"] {
    width: 60px;
    margin-left: -60px;
    border:0;
    padding:4px 0;
    background-color: transparent;
    border: 1px dotted rgba(0,0,0,0.25);
    border-width: 0 0 0 1px;
    color: rgba(0,0,0,0.5);
    font-style:italic;
    font-family:serif;

}

#search input[type="search"]:focus {
    border-color: rgba(0,0,0,0.25);
    border-style:solid;
}

#search input[type="search"]:focus + input[type="submit"],
.search #search input[type="submit"] {
    background-color: rgba(0,0,0,0.75);
    color: rgba(255,255,255,0.85);
    font-weight:bold;
    border-style:solid;
    border-width: 1px;
}

div[role="main"] {
    padding-left:20px;
    padding-right: 20px;
}

#homepage-blurb {
    margin: -20px -20px 20px;

    color: #eee;
    background-color: #333;
    @include background(
      url('images/slab/rotate.php') center center no-repeat
    );
    background-size:cover;
    a {
      font-weight:bold;
      -webkit-transition: background 0.2s linear;
      -moz-transition: background 0.2s linear;
      -o-transition: background 0.2s linear;
      transition: background 0.2s linear;

      &:link,
      &:visited {
        color: #eee;
      }

      &:hover,
      &:focus,
      &:active {
        color: #fff;
      }
    }

    .menu {
      list-style:none;
      padding-left:0;
      text-align:right;
      font-size: 1.25em;
      margin-top: 2em;
      li {
        display:block;
        line-height: 3em;
        margin-bottom:2px;
      }

      a {
        padding: 10px;
        text-decoration:none;
        display:block;
        text-align:center;
        font-weight:normal;
        text-transform:lowercase;
        &:link,
        &:visited {
          background: rgba(0,0,0,0.5);
        }

        &:hover,
        &:focus,
        &:active {
          background: rgb(0,0,0);
        }

      }
    }
}

#homepage-blurb .content {
    margin: 0;
    background: rgba(0,0,0,0.6);
    padding:30px;

    h1 {
      line-height:2.25;
    }
}

.gce-page-list li,
#recent-posts li {
  margin-bottom:1em;
  padding-bottom:1em;
  border-bottom: 1px dotted #ccc;
}

.gce-page-list a {
  text-decoration:none;
  font-weight:bold;
}

.gce-page-list .date {
  display:block;
  float:left;
  padding: 0.5em 1em 1em;
  background: #fff;
  color: #555;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  text-align:center;
  border-top: 5px solid #900;
}

.gce-page-list .day {
  font-size: 1.75em;
  display:block;
  margin:0;
  line-height:1em;
}

.gce-page-list .event-full .details {
  margin-left: 5em;
}

.gce-page-list .event-full strong {
  display:block;
  margin-bottom:1em;
}
#recent-posts h3 {
  font-weight:bold;
}

#recent-posts a,
#events a {
  text-decoration:none;
}

#recent-posts .byline {
  display:block;
  float:right;
  width: 20%;
  font-size: 85%;
  margin-left: 10px;
  margin-bottom:10px;
  color: #999;
  
}

article {
  @include clearfix;
}

article:not(:first-child) {
    padding-top: 1em;
    border-top: 1px dotted #ccc;
}

div[role="main"] h1 {
    line-height:1.25;
    margin: 0.25em 0 0.5em;
}

article .post-meta {
    margin:0;
    font: 80% Verdana, sans-serif;
    font-weight:bold;
    color: #555;
}

.single article header {
    margin-bottom:60px;
}

.wp-caption {

  /**
   * Ensure captions are always, at most, the width of their container.
   * See http://wordpress.stackexchange.com/questions/32931/removing-image-and-caption-dimension-attributes
   */
  max-width: 100%;
}

.wp-caption-text {
    font-size: 88%;
    font-style:italic;
    color: #555;
    margin:0 0 2em;
}

article .author-name a {
    text-decoration:none;
    color: #444;
    font-weight:bold;
}

article .author-name:before {
    content: "by ";
    font-style:italic;
    font-size: 87%;
    color: rgba(0,0,0,0.5);
    margin-right: 0.1em
}

article .author-description p {
    font-size: 87%;
    font-style:italic;
    color: rgba(0,0,0,0.7);
}

article .author-description em,
article .author-description i {
    font-style:normal;
}

article .avatar {
    margin-bottom:1em;
}

.single article .avatar {
  float:left;
  display:block;
  margin:0 1em 0 0;
  width: 60px;
  height:60px;
  padding: 2px;
}
article footer p {
    margin: 0 0 1em;
}

nav.pagination {
    clear:both;
    overflow:hidden;
    border-top:1px dotted rgba(0,0,0,0.25);
    padding-top:1em;
}

nav.pagination ul {
    margin-left:0;
    padding-left:0;
}

nav.pagination li {
    float:left;
    display:block;
    width: 50%;
}
nav.pagination li.newer {
    float:right;
    text-align:right;
}

#comments {
    clear:both;
    border-top: 1px dotted rgba(0,0,0,0.25);
    margin-top:1em;
}

#comments-title {
  font-style:italic;
  color: rgba(0,0,0,0.5);
  font-size:1.25em;
  margin-bottom:2em;
}

.commentlist {
    list-style:none;
    margin-left:0;
    padding-left:0;
}

.commentlist > li:not(:last-child) {
    margin-bottom:1em;
    border-bottom:1px dotted rgba(0,0,0,0.25);
}

.comment-meta {
    float:right;
    width: 25%;
    list-style:none;
    margin:1em 0;
    padding:0;
    font-size: 87.5%;
}

.comment-meta img {
    margin-bottom: 1em;
}

.comment-meta a {
    text-decoration:none;
}

.comment-content {
    margin-right: 30%;
}

#respond {
    border-top: 1px dotted rgba(0,0,0,0.25);
}

#commentform input,
#commentform textarea {
    display:block;
}

#commentform .required {
    color: #900;
}

.form-allowed-tags {
    color:rgba(0,0,0,0.5);
    font-size:90%;
}

.authors {
    list-style:none;
    margin:0;
    padding:0;
}

.posts-list,
.recent-posts{
  list-style:none;
  padding-left:0;
}

.posts-list li:not(:last-child) {
  border-bottom: 1px dotted rgba(0,0,0,0.25);
  padding-bottom:0.5em;
  margin-bottom:0.5em;
  overflow:hidden;
}
.posts-list a {
  font-weight:bold;
  text-decoration:none;
  float:left;
  width: 65%;
}

.posts-list span {
  float:right;
  text-align:right;
  color: rgba(0,0,0,0.5);
  font-style:italic;
  width: 30%;
}

.people {
  list-style:none;
  margin-left:0;
  padding-left:0;
  overflow:hidden;
  zoom:1;

  & > li {
    box-sizing:border-box;
    float:left;
    width: 48%;
    margin-right: 2%;
    height:120px;

    margin-bottom: 30px;

    a {
      text-decoration:none;
      font-weight:bold;
    }

    img {
      display:block;
      margin:0 0 10px;
      max-height: 80%;
    }
  }

}

.page-template-staff-php h2,
.staff .fn {
  margin:0;
  font-weight:bold;
  font-size: 1em;
}

.staff {
  list-style:none;
  margin-left:0;
  padding-left:0;
  .fn a {
    text-decoration:none;
  }

  .title {
    margin:0;
    font-style:italic;
    font-size:0.825em;
  }

  ul {
    margin:0;
  }

  > li {
    margin: 0 0 2em;
    clear:both;
    overflow:hidden;
    zoom:1;
  }

  img {
    display:block;
    width: 80px;
    height: 80px;
    margin: 0 1em 0 0;
    float:left;
  }

}

.staff li ul {
  list-style:none;
  margin-left:0;
  padding-left:0;
  font-size: 90%;
}

.single-people {

  .author-meta ul {
    list-style:none;
    padding-left:0;
    font-size: 90%;
    color: rgba(0,0,0,0.5);

    a {
      text-decoration:none;
      color: #777;
    }

    li {
      display:inline;
      & + li:before {
        content: "· ";
        color: rgba(0,0,0,0.5);
      }
    }
  }
  .avatar {
    float:right;
    margin-left: 10px;
    width: 72px;
    height: 72px;
    margin: 1em 0 1em 1em;
  }
}

.author-meta ul {
}

footer[role="contentinfo"] {
    padding:20px 0;
    border-top: 1px dotted rgba(0,0,0,0.25);
    margin: 20px;
    text-align:center;
    clear:both;
}

#slab-vcard {
  font: 80% Verdana, sans-serif;
  line-height: 1.5em;
  margin-bottom: 30px;
}

#social-media a {

  &:link,
  &:visited {
    opacity: 0.5;
  }

  &:hover,
  &:focus {
    opacity: 0.75;
  }

  &:active {
    opacity: 0.9;
  }

  + a {
    margin-left: 0.25em;
  }

}

ul.research {
  list-style:none;
  margin-left:0;
  padding-left:0;
  overflow:hidden;
  zoom:1;

  li {
    a {
      color: #404040;
      text-decoration:none;

      &:link,
      &:visited {
        opacity: 0.9;
      }
      &:hover,
      &:focus,
      &:active {
        opacity: 1.0;
      }
      h2 {
        color: #900;
        font-size: 125%;
      }

      img {
        border: 1px dotted #ccc;
        padding: 10px;
        background: #fff;
        box-sizing:border-box;
      }
    }
    .excerpt {
      color: #555;
      font-weight:normal !important;
    }
  }
}
footer[role="contentinfo"] {
  .menu {
    ul {
      font: 80% Verdana, sans-serif;
      padding:0;
      margin:0 0 30px;
    }

    li {
      display:inline;
      + li:before {
        content: " · ";
        color: rgba(0,0,0,0.25);
      }
    }

    a {
      text-decoration:none;
      font-weight:bold;
    }
  }
}
