
html {
    padding-right: 60px;
}

#search {
  right: 90px;
}

.courtesy-nav {
  right:310px;
}

#homepage-blurb {
  .menu {
    li {
      display:inline-block;
    }
  }
}

.blog article footer,
.archive article footer,
.single article footer {
    float:right;
    width: 25%;
    margin-top: 1em;
}

.blog article .entry-content,
.archive article .entry-content,
.single article .entry-content {
    float:left;
    width: 70%;
}

.single-people .avatar {
  margin:0;
  width: auto;
  height: auto;
}

.people > li {
  width: 32%;
  &:nth-child(even) {
    margin-right:auto;
  }

  &:nth-child(3n) {
    margin-right:0;
  }
}

.single-people .entry-content {
  margin-right: 180px;
}

footer[role="contentinfo"] {
    margin: 0 -60px;
    padding: 20px 90px;
}

